@media (min-width:320px) and (max-width: 760px) {

    /* Nav */
    nav {

        padding: 10px 10px;

        .nav-left {

            align-items: center;
            justify-content: center;

            img {

                width: 30px;

            }

            .nav-left__anchor {

                display: flex;
                flex-direction: column;
                position: absolute;
                right: 0;
                top: 51px;
                height: 25%;
                width: 40%;
                padding-right: 25px;
                padding-top: 20px;
                gap: 10px;
                align-items: end;
                justify-content: flex-start;
                background: #EAEEF0;
                border-left: 1px solid #A6D7F2;
                border-bottom: 1px solid #A6D7F2;
                box-shadow: 0 0 0 100vmax rgba(182, 182, 220, 0.158);
                opacity: 0;
                visibility: hidden;

                a {

                    padding: 0px 10px 0px 0px;

                }


            }

            .visible {

                opacity: 1;
                visibility: visible;
                padding: 30px 0px 0px 0px;
                z-index: 1;

            }

        }

        .nav-right {

            gap: 22px;
            align-items: end;

            .btn-cuenta {

                background: none;
                padding: 0;
                width: auto;
                height: auto;
                display: flex;

                img {

                    width: 20px;
                    height: 20px;

                }

                a {

                    font-size: 0;

                }

            }

            .btn-carrito {

                background: none;
                height: 20px;
                padding: 0;
                width: 20px;

                img {

                    width: 20px;
                    height: auto;
                    vertical-align: baseline;

                }


                a {

                    font-size: 0;

                }

            }

            .close-active {

                display: flex;
                width: 20px;

            }

            .menuhamburgesa {

                display: flex;
                width: 20px;
                align-self: flex-end;
            }

            .menuhamburgesa-active {

                display: none;

            }

        }
    }
}